@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Geist, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
}

@keyframes nav-progress {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(420%);
  }
}
